.icon-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  line-height: 1;
}

.icon-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
